[tool.poetry]
name = "ai-powered"
version = "0.1.4"
description = "The easiest way to develop AI-Powered applications"
authors = [ "Luo Chen <luochen1990@gmail.com>" ]
include = ["src"]

[tool.poetry.dependencies]
python = ">=3.10,<4"
openai = "^1.35.14"
pydantic = "^2.8.2"

[tool.poetry.group.test.dependencies]
pytest = "^8.2.2"
pytest-xdist = "^3.6.1"

[tool.poetry.group.dev.dependencies]
funix = "^0.5.8"

[tool.pytest.ini_options]
testpaths = ["test", "test/examples/**/*.py"]
addopts = "-n auto"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
